---
import { getLocalizedPaths, useI18n } from "@/i18n";
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import ForecastContributors from "@/components/ForecastContributors.astro";
import ForecastTable from "@/components/ForecastTable.astro"
import { getLatestForecast } from "@/content.config"
import { t as _t} from "i18next"
import type { CollectionEntry } from "astro:content";

interface Props {
  title: string
  description: string
  og_image: string
  forecasts: CollectionEntry<"forecast">[]
}

export const getStaticPaths = (async() => {
  const forecasts = await getCollection("forecast")
  forecasts.sort((a, b) => a.data.forecast_date.localeCompare(b.data.forecast_date))

  return getLocalizedPaths("yield", (item, lng) => {
    item.props.forecasts = forecasts
    item.props.title = _t("yield.ogorForecast", { lng })
    item.props.description = _t("yield.usingAlgorithms", { lng })
    item.props.og_image = "/og_image_yield.png"
    return item
  })
}) satisfies GetStaticPaths;

const { t } = useI18n(Astro.currentLocale)
const { forecasts } = Astro.props
const { getUrl } = Astro.locals

const latestForecast = await getLatestForecast()
const latestForecastDate = (new Date(latestForecast.data.forecast_date)).toLocaleDateString(Astro.currentLocale, {
  day: "numeric", month: "long", year: "numeric"
})
const latestForecastPreview = `/yield/maps/ogor_yield_${latestForecast.data.crops[0].code}_${latestForecast.data.forecast_date.replaceAll("-", "")}.png` // "ogor_yield_101_20240702.png"
---

<BaseLayout {...Astro.props}>
  <header class="hero no-separator">
    <h2 class="self-end tl:mb-0">{t("yield.ogorForecast")}</h2>
    <div class="_media-hero"> 
      <img src="/images/harvesting.png" alt="">
    </div>
    <div>
      <p set:html={t("yield.usingAlgorithms")} />
      <p set:html={t("yield.forecastIsSent")} />
    </div>
  </header>
  <div style="padding: 2em var(--bleed) 0; background: #E2F1E1;">
    <p style="margin-bottom: 0; font-size: 150%; font-weight: 600; max-width: 30ch; color: #c48236;">
      {t("yield.aboutForecast")}
    </p>
  </div>
  <section id="national-yield-map" class="layout-media no-separator">
    <h3 class="area-header li-bullet-1 mt-0 tl:mb-0" set:html={t("yield.nationalMapAndStatistics")} />
    <a href={getUrl(`/yield/forecast/${latestForecast.id}`)} class="area-media block">
      <img src={latestForecastPreview} alt="">
    </a>
    <div class="area-body max-t:mb-[1em]">
      <p class="tl:mt-0">
        {t("yield.lastForecast")}: <a href={getUrl(`/yield/forecast/${latestForecast.id}`)}>{latestForecastDate} →</a>
      </p>
      <table class="last-forecast-table" style="font-variant-numeric: tabular-nums;">
        {
          latestForecast.data.crops.map(c => 
            <tr>
              <td>{t(c.code, { ns: "crops" })}</td>
              <td>{c.avg_yield.toLocaleString(Astro.currentLocale)} t/ha</td>
            </tr>
          )
        }
      </table>
    </div>
    <ForecastTable forecasts={forecasts} />
  </section>
  <section class="layout-media --left t:max-d:block">
    <h3 set:html={t("yield.localityMapAndStatistics")} 
        class="area-header li-bullet-2 mt-0 tl:mb-0"
    />
    <div class="area-body">
      <ul class="t:mt-0">
        <li>{t("yield.yieldMap")}</li>
        <li>{t("yield.cropMap")}</li>
        <li>{t("yield.statisticsTable")}
          <ul>
            <li>{t("yield.countyYield")}</li>
            <li>{t("yield.localityCultivatedArea")}</li>
          </ul>
        </li>
      </ul>
      <p>
        <a href="mailto:contact@ogor.ro">{t("yield.salesContact")}</a>
      </p>
    </div>
    <div class="area-media">
      <img class="w-full max-w-lg" src="/images/ksp_yield_county.png" alt="">
    </div>
  </section>
  <section class="layout-media t:max-d:block">
    <h3 class="area-header li-bullet-3 mt-0 tl:mb-0 self-end"
        set:html={t("yield.parcelStatistics")}
    />
    <p class="area-body t:mt-0">
      <a href={getUrl("/company", "#products")}>{t("yield.subscriptionOptions")} →</a>
    </p>
    <div class="area-media">
      <img class="w-full max-w-lg" src="/images/ksp_yield_farm.png" alt="">
    </div>
  </section>
  <ForecastContributors />
</BaseLayout>


<style>
  @reference "@/styles/global.css";

  section {
    --li-color: #C58336; /* The little bullets above headers */

    position: relative;
    padding-block: 2em;
    padding-inline: var(--bleed);
    background: #E2F1E1;

    /* Separator */
    &:not(.no-separator)::before {
      position: absolute;
      inset: 0 var(--bleed) auto;
      content: "";
      display: block;
      border-top: thin dotted #C58336;
    }

    & h3 {
      font-size: 150%;
      font-weight: normal;
      max-width: 40ch;
      text-wrap: balance;
    }

    & a { 
      color: #1D478A;
      font-weight: 500;
    }

    ._media {
      display: grid;
      place-items: center;
      width: 100%;
      border-radius: 8px;

      img {
        width: 100%;
        height: auto;
        border: 4px solid white;
        border-radius: 1em;
        box-shadow: 0px 4px 24px 0px hsla(0, 0%, 0%, 0.1);
      }
    }
  }

  .hero {
    display: flow-root;
    padding-inline: var(--bleed);
    grid-template-columns: 1fr 1fr;
    column-gap: var(--gutter);
    background: hsla(44, 100%, 89%, 1);
    
    @media (width >= theme(--breakpoint-tl)) {
      display: grid;
    }
    
    ._media-hero {
      margin-right: var(--neg-bleed);
      grid-column: 2;
      grid-row: 1/3;
      max-width: none;
      
      img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  .last-forecast-table {
    border: 1px solid hsla(32, 57%, 49%, 1);
    border-radius: 0.5rem;
    width: 100%;

    tr:nth-child(even) td { background: hsla(44, 100%, 89%, 0.3); }
    td:nth-child(odd) { font-weight: 550; }
    td:nth-child(even) { text-align: right; }
    td { padding: 0.25rem 0.5rem; }
  }

  #national-yield-map {
    grid-template-areas:
      "header media"
      "body   media"
      "footer media"
      "table  table"
    ;
    align-items: flex-start;

    & details {
      grid-area: footer;
      align-self: flex-end;
    }
    & details[open] {
      grid-area: table;
    }
    & .area-media {
      border: .25rem solid white;
      border-radius: .5rem;
      box-shadow: 0 .25rem 1.5rem 0 rgba(0, 0, 0, 0.10);
    }
    & .area-media img {
      display: block;
    }
  }
</style>
